.projectsPageContainer {
  width: 100%;
  padding-bottom: 10rem;
}

.backButtonContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.backButton {
  background-color: var(--soft-gray);
  color: var(--text-highlight);
  border: 2px solid var(--accent) !important;
  font-family: var(--font-pixel);
  text-transform: uppercase;
  padding: 8px 15px;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.backButton:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 0 rgba(255, 204, 0, 0.5);
  background-color: var(--accent);
  color: var(--background);
}

.pixelArrow {
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.backButton:hover .pixelArrow {
  transform: translateX(-4px);
}

.backLink {
  text-decoration: none;
}
